<div class="container">
    <hr>
    <h2 class="m-3">Productos disponibles</h2>
    <hr>
    <div class="row" >
        <div class="col-xl-4" >
            <input class="form-control-lg" type="text" class="form-control" placeholder="Buscar producto" [(ngModel)]="busqueda"> 
        </div>
        <div class="col-xl-4" >
            <button class="btn btn-primary " (click)="buscar()">Buscar</button>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-xl-4" *ngFor="let prod of productos" >
            <div class="card o-hidden border-0 shadow-lg my-3" [routerLink]="['/detalle', prod.id]" style="height: 250px;">
                <div class="card-body p-0" >
                    <div class="row">
                        <div class="p-5">
                            <div class="text-center">
                                <div class="h3 text-gray-900 mb-2">{{prod.nombre}}</div>
                                <div class="text-gray-900 descripcionProducto">
                                    {{prod.descripcion}}
                                </div>
                                <div class="h5 text-gray-900 mt-2 mb-0">Precio inicial: ${{prod.precio_minimo}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>