.card:hover {
    background-color: #eff9ff;
    cursor: pointer;
}

.descripcionProducto {
    max-height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show before adding ellipsis */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
}
