.card:hover {
    background-color: #eff9ff;
    cursor: pointer;
}

.descripcionProducto {
    max-height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show before adding ellipsis */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
}

.elemento {
    position: absolute; /* Permite el posicionamiento absoluto dentro del contenedor */
    bottom: 0; /* Coloca el elemento en la parte inferior del contenedor */
    width: 80%;
    text-align: center;
    padding-bottom:10%
  }