<div class="modal fade" id="modal-editar-producto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Editar Producto</h2>
            </div>
            <div class="modal-body">
                Modifique los datos de producto y haga clic en "Aceptar" para guardar sus cambios.
            </div>
            <table class="table" style="width:80%; margin-left:10%; margin-right:10%">
                <tr>
                    <td style="vertical-align: middle; width:15%">Nombre</td>
                    <td><input type="text" class="form-control" aria-label="Nombre del producto" id="nombreProducto" [(ngModel)]="nombreProducto"></td>                
                </tr>
                <tr>
                    <td style="vertical-align: middle; width:15%">Precio Mínimo</td>
                    <td><input type="text" class="form-control" aria-label="Precio minimo" id="precioMinimo" [(ngModel)]="precioMinimo"></td>                
                </tr>
                <tr>
                    <td style="vertical-align: middle; width:15%">Descripción</td>
                    <td><textarea type="text" class="form-control" style="resize: none;" aria-label="Descripcion" id="descripcionProducto" rows="7" 
                        [(ngModel)]="descripcionProducto"></textarea></td>          
                </tr>
            </table>
            <div id="errorDiv" class="alert alert-danger" role="alert" style="width:80%; margin-left:10%; margin-right:10%; display:none;">
                <p id="errorText" style="text-align:center; margin-bottom:0px;"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="button" (click)="editarProducto()"> Aceptar</button>   
            </div>
        </div>
    </div>
</div>