<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Registro</h1>
                    </div>
                    <form class="user" [formGroup]="registroForm">
                        <div class="form-group row">

                            <!-- NOMBRE -->
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="FirstName"
                                    placeholder="Nombre" formControlName="nombre" name="nombre">
                                <div *ngIf="registroForm.controls['nombre'].invalid && (registroForm.controls['nombre'].dirty || registroForm.controls['nombre'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="registroForm.controls['nombre'].errors?.['required']">
                                        Se requiere nombre
                                    </div>
                                    <div *ngIf="registroForm.controls['nombre'].errors?.['minlength']">
                                        Mínimo 3 caracteres.
                                    </div>
                                </div>
                            </div>
                            <!-- APELLIDO -->

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="LastName"
                                    placeholder="Apellido" formControlName="apellido">
                                <div *ngIf="registroForm.controls['apellido'].invalid && (registroForm.controls['apellido'].dirty || registroForm.controls['apellido'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="registroForm.controls['apellido'].errors?.['required']">
                                        Se requiere apellido
                                    </div>
                                    <div *ngIf="registroForm.controls['apellido'].errors?.['minlength']">
                                        Mínimo 3 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- EMAIL -->
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="InputEmail"
                                placeholder="Correo Electrónico" formControlName="email" name="email">
                                <div *ngIf="registroForm.controls['email'].invalid && (registroForm.controls['email'].dirty || registroForm.controls['email'].touched)"
                                    class="alert alert-danger">
                                    <p *ngIf="registroForm.controls['email'].errors?.['required']">
                                        Se requiere un correo
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- EMAIL -->

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user"
                                    id="InputPassword" placeholder="Contraseña" formControlName="password"
                                    name="password">
                                <div *ngIf="registroForm.controls['password'].invalid && (registroForm.controls['password'].dirty || registroForm.controls['password'].touched)"
                                    class="alert alert-danger">
                                    <p *ngIf="registroForm.controls['password'].errors?.['required']">
                                        Se requiere contraseña
                                    </p>
                                    <p *ngIf="registroForm.controls['password'].errors?.['minlength']">
                                        La contraseña debe tener por lo menos 6 caracteres.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user"
                                    id="RepeatPassword" placeholder="Repetir Contraseña"
                                    formControlName="cnfPass" name="password">
                                <div *ngIf="registroForm.controls['cnfPass'].invalid && (registroForm.controls['cnfPass'].dirty || registroForm.controls['cnfPass'].touched)"
                                    class="alert alert-danger">
                                    <p *ngIf="registroForm.controls['cnfPass'].errors?.['minlength']">
                                        La contraseña debe tener por lo menos 6 caracteres.
                                    </p>
                                    <p *ngIf="registroForm.controls['cnfPass'].touched && registroForm.controls['cnfPass'].errors?.['passwordMismatch']">
                                        Las contraseñas deben coincidir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <button id="btnRegistro" type="submit" class="btn btn-primary btn-user btn-block"
                            (click)="register()"
                            [disabled]="registroForm.pristine || registroForm.invalid">
                            Registrar Cuenta
                        </button>
                        <script>
                            var input = document.getElementById("RepeatPassword");
                            input.addEventListener("keypress", function (event) {
                                if (event.keyCode === 13) {
                                    event.preventDefault();
                                    document.getElementById("myBtn").click();
                                }
                            });
                        </script>
                        <hr>
                        <!-- <a href="" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <a href="" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a> -->
                    </form>
                    <hr>
                    <!--
                    <div class="text-center">
                        <a class="small" routerLink="/resetPass">Forgot Password?</a>
                    </div>-->
                    <div class="text-center">
                        <a class="small" routerLink="/">¿Ya tienes una cuenta? ¡Inicia sesión!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>